:root {
  --radius: 12px;

  --cardColor: #ffffff;
  --borderColor: #e6ecf8;
  --shadowColor: #e9f0f380;

  --styledBorder: var(--borderTemplate) var(--borderColor);
  --styledShadow: 0 5px 5px 0 var(var(--shadowColor));

  --textAlign: center;
}

/* partie Header nav */

nav {
  flex-direction: row;
  justify-content: space-between;
}

li a {
  color: rgb(136, 6, 150);
  font-weight: bold;
}

/* Main */

.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
}

h1 {
  font-size: calc(var(--gutter) * 1.5);
}

p {
  padding: 0 var(--gutter);
}

.menu {
  display: flex;
  margin-bottom: var(--gutter);
}

.desktop {
  margin: 0;
  margin-top: calc(var(--gutter) * 5);
  margin-bottom: calc(var(--gutter) * -0.3125);
  display: flex;
  justify-content: center;

}

.description {
  color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--gutter) * 3.75);
}

.description p {
  width: 60%;
  text-align: var(--textAlign);
}



.pink-bg {
  background-color: var(--lightWildColor);
}

.skills {
  margin-top: calc(var(--gutter) * -2);
  padding: 0 10%;
  display: flex;
  flex-direction: row-reverse;
}

.skills--title {
  margin: calc(var(--gutter) * -2) 0;
  display: inline;
}

.column1 {
  border-left: var(--styledBorder);
  border-right: var(--styledBorder);
  border-bottom: var(--styledBorder);
  background-color: var(--cardColor);
  padding: calc(var(--gutter) * 3.75) calc(var(--gutter)* 2.1875);
  border-radius: 0 10px 10px 0;
  text-align: var(--textAlign);
  box-shadow: 0px 1px 1px 2px rgb(165, 187, 198);
  width: 50%;
  justify-content: center;
}

.column2 {
  border-left: var(--styledBorder);
  border-right: var(--styledBorder);
  border-bottom: var(--styledBorder);
  background-color: var(--cardColor);
  padding: calc(var(--gutter) * 3.75) calc(var(--gutter)* 2.1875);
  border-radius: 10px 0 0 10px;
  text-align: var(--textAlign);
  box-shadow: 0 1px 1px 2px rgb(165, 187, 198);
  width: 50%;
  justify-content: center;
}

.column:first-of-type {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.column:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.column1 ul {
  list-style: none;
  padding-left: 0px
}

.column2 ul {
  list-style: none;
  padding-left: 0px
}

h2 {
  text-align: center;
}

.title_projects p {
  text-align: center;
}

.projects {
  display: flex;
  justify-content: center;
}

.box {
  width: 100px;
}


.pink-text {
  color: var(--lightWildColor);
}

.projects a {
  color: var(--purple);
}

.box {
  width: 25%;
  padding: calc(var(--gutter) * 2);
  border: var(--styledBorder);
  margin: calc(var(--gutter) * 1.25);
  border-radius: var(--radius);
  box-shadow: var(--styledShadow);
}

.purple-text {
  color: var(--purple);
}



@media screen and (max-width: 700px) {

  .desktop img {
    display: none;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column1 {
    border-radius: 10px;
    width: 70%;
  }

  .column2 {
    border-radius: 10px;
    width: 70%;
  }

  .projects {
    flex-direction: column;
    max-width: max-content;
    align-items: center;
  }

  .box {
    width: 250px;
    /* display: ; */
    flex-direction: column;
    width: 60%;
    align-items: center;
  }
}